<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developmentapps.summerschool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity android:name=".course.ZimDetails" />
        <activity android:name=".course.DrivingDetails" />
        <activity android:name=".course.YogaDetails" />
        <activity android:name=".course.BankcoachingDetails" />
        <activity android:name=".course.ComputerlearningDetails" />
        <activity android:name=".course.AbacusDetails" />
        <activity android:name=".course.SkettingDetails" />
        <activity android:name=".course.SwimmingDetails" />
        <activity android:name=".course.HindiDetails" />
        <activity android:name=".course.DrawingDetails" />
        <activity android:name=".course.MusicDetails" />
        <activity android:name=".course.DanceDetails" />
        <activity android:name=".VideoView" />
        <activity android:name=".activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register.memberRegister.LoginActivity" />
        <activity android:name=".PdfView.PDFActivity" />
        <activity android:name=".PdfView.PDF" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.PrivacyPolicyActivity" />
        <activity android:name=".Register.memberRegister.RegisterActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".other.Feedbackform" />
        <activity android:name=".Profile.ViewProfile" />
        <activity android:name=".Profile.EditProfile" />
        <activity android:name=".course.EnglishDetails" />
        <activity android:name=".course.list_item" />
        <activity android:name=".Register.instructorRegister.InstructorLogin" />
        <activity android:name=".Register.instructorRegister.InstructorRegister" />
    </application>

</manifest>